*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('imagens/fundo-madeira.jpg') no-repeat top center;
    background-size:cover;

}

main{
    height: 100vh;
    position: relative;
    /*
position: relative mantém o elemento no fluxo normal da página,
mas permite ajustar sua posição usando top, right, bottom e left.

Também serve como referência para elementos filhos
com position: absolute.
*/

}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*
transform: translate() move o elemento visualmente
sem alterar seu espaço original no layout.

É muito usado para centralização e animações,
pois não quebra o fluxo da página.
*/
    height: 627px;
    width: 311px;
  
    background:  url(imagens/frame-iphone.png) no-repeat
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    height: 470px;
    width: 267px;

}


/*caso vc queira do outro lado

section#redes-sociais{
    text-align: right;

*/

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
    
}


section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.637);
    
 
}
  